
html{
    background-color: #242423;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(245, 196, 223);

}
nav {
    display: flex;
    justify-content: center;
    width: 100%; /* Ocupa a largura total do elemento pai */
}


nav ul{
    display: inline-flex;
    justify-content: center;
    list-style: none;
    padding: 0;

}

nav ul li {
    margin: 0 20px; /* Reduz a margem horizontal */
}

nav ul li a {
    color: rgb(197, 58, 197); /* Cor padrão dos links */
    text-decoration: none; /* Opção para remover o sublinhado */
}

    
hr {
     border: none; /* Remove a borda padrão */
     height: 2px; /* Espessura da linha */
     background-color: rgb(197, 58, 197); /* Cor da linha, preto neste caso */
     margin: 0; /* Remove qualquer margem padrão para estender até as bordas da página */
    }

  


.icRibras{
    width: 600px; 
    height: 300px; 
    margin-left: auto;
    margin-right: auto; 
    text-align: center;
    position: relative;
    top: 30px;
    font-size:20px;

}
.icRibras h3 {
    position: relative;
    top: -10px;
    font-size:20px;
    
    
}
.icRibras h4 {
    position: relative;
    top: -15px;
    font-size:15px;
    color: rgb(197, 58, 197);
}

.icRibras p {
    position: relative;
    top: -20px;
    font-size:13px;
    text-decoration:  rgb(197, 58, 197);
    text-align: left;
}

.footer{
    color: antiquewhite;
    font-size: 10px;
    position: relative;
    top: 270px; /* Ajuste o valor para mover a div para baixo */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}




